@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Eduardo Machado Martins</p>
<p>@ViewData["Message"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong> More information: </strong> <a href="http://www.eduardommartins.wordpress.com">eduardommartins.wordpress.com</a>
</address>

<p>All rights reserved.</p>
